@import "npm:arrmatura-ui/index.css";

body {
  @apply bg-white text-gray-800 antialiased dark:bg-gray-900 dark:text-gray-300;
}

.radial-gradient {
  background: radial-gradient(circle, rgba(255, 255, 255, 0) 60%, rgba(0, 0, 0, 0.5) 100%);
  position: relative;
}

.loadscreen {
  background-color: #c3cbdc;
  background-image: linear-gradient(147deg, #c3cbdc 0%, #edf1f4 74%);
}
.loadscreen-text,
.logo {
  background: radial-gradient(#1ebeff, #ff00af);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
