<component id="App">
  <DropdownsPlugin />
  <ToastFacility>
    <StoredValue Ref="language" defaultValue="en" />
    <StoredValue Ref="level" defaultValue="500" />

    <BrowserService Ref="browser" title="{R.name}" />

    <SpeechService Ref="speech" />

    <NavigationService Ref="nav" />

    <IndexedDbService Ref="db" (...)="{R.db}" />

    <WordsStore Ref="words" concepts="<-db.allConcepts" interview="<-db.allInterview" level="<-level.value"
      acquired="<-db.allAcquired|arrayToObject" />

    <Connector data="<-nav.route" change="-> route" />

    <Connector Ref="idiomsHash" data="<-db.allIdioms|idiomsHash" />

    <Dynamic As="Page.{route.page| capitalize}" (...)="{route}" />

  </ToastFacility>
</component>