<component id="App">
  <DropdownsPlugin />
  <ToastFacility>
    <LocalStorage Ref="localStorage" />

    <StoredData Ref="language" defaults="en" />

    <DarkModeService Ref="dark" />

    <BrowserService Ref="browser" title="{R.name}" />

    <SpeechService Ref="speech" />

    <NavigationService Ref="nav" />

    <IndexedDbService Ref="db" Props="{R.db}" />

    <WordsStore Ref="words" concepts="<-db.allConcepts" interview="<-db.allInterview"
      level="<-localStorage.level ?? 'A'" acquired="<-db.allAcquired|arrayToObject" />

    <Connector data="<-nav.route" change="-> route" />

    <Connector Ref="idiomsHash" data="<-db.allIdioms|idiomsHash" />

    <Dynamic As="Page.{route.page ?? 'Loading' | capitalize}" Props="{route}" />

  </ToastFacility>
</component>

<component id="Page.Loading">
  <div class="loadscreen fixed inset-0 z-50 flex items-center justify-center bg-white">
    <div class="loadscreen-text select-none text-7xl">{R.name}</div>
  </div>
</component>