<component id="App">
  <BrowserService ref="browser" title="@@name" />
  <SimpleWordsStore ref="words" />

  <header class="flex items-center mx-4">
    <Logo />
    <div class="flex-1"></div>
    <AddText />
  </header>

  <Connector data="<- words@word" change="-> @value" />

  <div class="w-full flex flex-col flex-1">
    <div class="prev-item flex items-center justify-center text-2xl">
      <span>pre</span>
    </div>
    <div class="cur-item flex flex-1 items-center justify-center text-4xl">
      <div class="flex items-center justify-center">
        <span class="pr-2" each="w of @value.names">{@w.id}</span>
      </div>

      <button class="ml-4 flex-end" click="-> words.determineWord()">next</button>
    </div>
    <div class="next-item flex items-center justify-center text-2xl">
      <span>next</span>
    </div>
  </div>

  <!-- <ToastFacility>
    <StoredValue ref="language" defaultValue="en" />

    <BrowserService ref="browser" title="@@name" />

    <SpeechService ref="speech" />

    <NavigationService ref="nav" />

    <IndexedDbService ref="db" (...)="@@db" />

    <WordsStore ref="words" concepts="<- db@dataConcepts" interview="<- db@dataInterview"
      acquired="<- db@dataAcquired|arrayToObject" />

    <Connector data="<- nav@route" change="-> @route" />

    <Connector ref="idiomsHash" data="<- db@dataIdioms|idiomsHash" />

    <Dynamic as="Page.{@route.page| capitalize}" (...)="@route" />

  </ToastFacility> -->
</component>