<component id="App">
  <header class="flex items-center mx-4">
    <Logo />
    <div class="flex-1"></div>
    <Btn class="add-text-btn w-8 h-8 flex-end" mode="primary" title="+" action="-> @opened=true" />
  </header>
  <BrowserService ref="browser" title="@@name" />
  <Connector data="<- browser@fromClipboard|log" trigger="@opened" change="-> @value" />

  <Modal open="@opened" if="@opened" close="-> @opened=false" title="Add new text" class="top-8">
    <textarea autofocus="true" class="input px-2 w-full" style="min-height:16rem;" keypress="@onChange"
      value="@value"></textarea>
    <Modal:footer>
      <div class="flex justify-between w-full">
        <FieldHint class="mt-4 flex-1" value="@hint" />
        <Btn class="" mode="primary" title="OK" action="-> @opened=false" />
      </div>
    </Modal:footer>
  </Modal>

  <!-- <ToastFacility>
    <StoredValue ref="language" defaultValue="en" />

    <BrowserService ref="browser" title="@@name" />

    <SpeechService ref="speech" />

    <NavigationService ref="nav" />

    <IndexedDbService ref="db" (...)="@@db" />

    <WordsStore ref="words" concepts="<- db@dataConcepts" interview="<- db@dataInterview"
      acquired="<- db@dataAcquired|arrayToObject" />

    <Connector data="<- nav@route" change="-> @route" />

    <Connector ref="idiomsHash" data="<- db@dataIdioms|idiomsHash" />

    <Dynamic as="Page.{@route.page| capitalize}" (...)="@route" />

  </ToastFacility> -->
</component>